<app-header></app-header>

<div class="image-bg p-5 text-center">
  <h2>Galería</h2>
  <p>Inicio >> Galería</p>
</div>

<div class="container p-5">
  <div class="row">
    <h6 class="text-center mb-4">Galería de fotos</h6>
    <div class="col-md-3 view overlay zoom">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
    <div class="col-md-3">
      <img src="../../../../assets/standar-room.png" class="img-fluid zoom-in" alt=""/>
    </div>
  </div>

</div>






<app-footer></app-footer>
