<app-header></app-header>

<div class="container">
  <div class="row">
    <div class="col-md-2 mt-5 border-end">
      <div class="text-center">
        <img src="../../../../assets/Hams_Hotal_Logo.png" alt="" height="80rem" width="80rem"/>
      </div>

      <ul class="list-group mt-4">
        <li
          class="list-group-item border-0"
          routerLink="/customer-site/main"
          routerLinkActive="text-orangeTheme"
        >
          <i class="fa-solid fa-house"></i>
          Inicio
        </li>
        <li
          class="list-group-item border-0"
          routerLink="/customer-site/profile"
          routerLinkActive="text-orangeTheme"
        >
          <i class="fa-regular fa-user"></i>
          Perfil
        </li>
        <li
          class="list-group-item border-0"
          routerLink="/customer-site/change-password"
          routerLinkActive="text-orangeTheme"
        >
          <i class="fa-solid fa-edit"> </i> Cambiar contraseña
        </li>
        <li
          class="list-group-item border-0"
          routerLink="/customer-site/my-reservations"
          routerLinkActive="text-orangeTheme"
        >
          <i class="fa-solid fa-calendar-days"> </i> Mis reservaciones
        </li>
        <hr class="mx-3" />

        <li class="list-group-item border-0" (click)="logOut()">
          <i class="fa fa-sign-out" aria-hidden="true"></i> Cerrar Sesión
        </li>
      </ul>
    </div>
    <div class="col-md-8">
      <div class="container mt-5 ms-2">
        <h3>Bienvenido/a {{userName}}</h3>
        <p class="small-fonts">
          Desde esta pagina podras gestionar tus reservaciones y tu informacion
          personal
        </p>
      </div>

      <router-outlet></router-outlet>
    </div>
  </div>
</div>
