.main-bg {
  background-color: #264653;
}
hr {
border: 2px solid white;
}

.transparent-table {
  background-color: transparent;
}
.transparent-table thead th {
  background-color: transparent;
  color: #fff;
  border: none;
}
.transparent-table tbody td {
  background-color: transparent;
  color: #fff;
  border: none;
}

