<app-header></app-header>

<div class="row">
  <div class="position-relative w-100">
    <div>
      <div>
        <img
          src="../../../../assets/nosotros_title.png"
          class="w-100"
          alt="Image"
        />
      </div>

      <div
        class="position-absolute top-0 w-100 h-100 left-0 align-self-center d-flex align-items-center justify-content-center"
      >
        <div class="content">
          <h1>Nosotros</h1>
          <br />
          <h5>Inicio >> Nosotros</h5>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div>
        <img src="../../../../assets/logo_hotel_sin_letra.png" alt="" />
      </div>

      <div
        class="position-absolute align-self-center flex-fill d-flex align-items-center justify-content-center"
        style="padding-top: 140px;"
      >
        <h1>Sand Chateau</h1>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="w-80 d-flex px-md-5 align-self-center">
        <p class="">
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col d-flex justify-content-center">
      <div class="w-80 pb-5 d-flex px-md-5">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
    <div class="col d-flex justify-content-center">
      <div class="w-80 pb-5 d-flex px-md-5">
        <p>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s, when an unknown printer took a galley of type and
          scrambled it to make a type specimen book. It has survived not only
          five centuries, but also the leap into electronic typesetting,
          remaining essentially unchanged. It was popularised in the 1960s with
          the release of Letraset sheets containing Lorem Ipsum passages, and
          more recently with desktop publishing software like Aldus PageMaker
          including versions of Lorem Ipsum.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
