<app-header></app-header>

<div class="image-bg p-5 text-center">
<h2>Contáctanos</h2>
<p>Inicio >> Contáctanos</p>
</div>

<div class="container">
  <div class="row p-5">
    <div class="col-md-3">
      <h3>Para contactarnos</h3>
      <p>Si tienes alguna pregunta o necesitas una ayuda usa las siguientes vias:</p>
    </div>
    <div class="col-md-3 text-center">
      <p><i class="fa-regular fa-mobile fa-2xl"></i></p>
      <p>829-123-1234</p>
      <p class="">849-432-1234</p>
    </div>
    <div class="col-md-3 text-center">
      <p><i class="fa-sharp fa-solid fa-location-dot fa-2xl"></i></p>
      <p>736 Blue Spring Ave.Smithtown, NY 11787</p>
    </div>
    <div class="col-md-3 text-center">
      <p><i class="fa-sharp fa-solid fa-envelope fa-2xl"></i></p>
      <p>info@sandchateau.com</p>
    </div>
  </div>

  <div class="row p-5">
    <div class="col-md-6">
      <h3>Pregunta lo que sea.</h3>
      <form class="py-5">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Nombre Completo</label>
          <input type="text" class="form-control" id="txtNCompleteName">
        </div>
        <div class="form-floating">
          <textarea style="height: 200px" class="form-control" placeholder="Leave a comment here" id="floatingTextarea"></textarea>
          <label for="floatingTextarea">Escribe aqui tu pregunta y detalles:</label>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Enviar</button>
      </form>
    </div>

    <div class="col-md-6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d15129.117478745055!2d-69.8954654!3d18.5614396!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdo!4v1689194614024!5m2!1sen!2sdo" width="583" height="572" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>


<app-footer></app-footer>
