<div class="row">
  <div class="col-md-6">
    <img src="./../../../../assets/login.svg" alt="" class="img-fluid" />
  </div>
  <div class="col-md-6 p-5">
    <div class="text-center mx-5 mt-5">
      <img
        src="../../../../assets/cheque.png"
        alt=""
        class="img-fluid"
        width="100"
      />
      <h4 class="text-shadow mt-5">
        Cuenta registrada Exitosamente!
      </h4>
    </div>
    <p class="mx-5 mt-3">Hemos enviado un mensaje a tu correo electronico para que confirmes tu cuenta. Cuando confirmes tu cuenta, <a routerLink="/auth/login"> presiona aqui para ir al login</a></p>
  </div>
