<app-header></app-header>

<div>
<img src="../../../../assets/landingPage-MainImage.svg" class="img-fluid w-100 h-0"  alt="">
</div>

<div class="second-bg-color">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 d-flex align-items-center">
        <div class="card searchCard box-shadow m-auto">
          <div class="card-body justify-content-center">
            <div class="row g-3 align-items-end ">
              <div class="col-md-2">
                <label for="txtArriveDate" class="form-label fs-6">Fecha de llegada:</label>
                <input id="txtArriveDate" type="date" class="form-control" placeholder="Fecha de llegada" >
              </div>
              <div class="col-md-2">
                <label for="txtArriveDate" class="form-label fs-6">Fecha de salida:</label>
                <input type="date" class="form-control" >
              </div>
              <div class="col-md-2">
                <label for="txtArriveDate" class="form-label fs-6">Cantidad de adultos:</label>
                <input type="number" class="form-control" placeholder="Adultos">
              </div>
              <div class="col-md-2">
                <label for="txtArriveDate" class="form-label fs-6">Cantidad de niños:</label>
                <input type="number" class="form-control" placeholder="Niños" >
              </div>
              <div class="col-md-2">
                <input id="btn"
                       type="button"
                       value="Verificar Disponibilidad"
                       class="btn btn-primary btn-lg border-rounded"/>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="row text-center">
      <h6 class="text-orangeTheme">Disfruta cada momento</h6>
      <h2 class="">Habitaciones</h2>
    </div>

    <div class="row" id="roomSection">
      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>

      <div class="col-md-4 mt-5 mb-5 d-flex justify-content-center">
        <div class="card roomCard" style="width: 21rem;">
          <img src="../../../../assets/standar-room.png" class="" alt="Standard Room">
          <div class="card-body">
            <h5 class="card-title">Habitacion Doble</h5>
            <h6 class="little-text">20 m2 | Balcon | Vista al mar</h6>
            <p class="card-text fs-6">All our Deluxe rooms have big windows to help you take a broad view of the cityscape and nature. We offer bigger bed and every</p>
            <hr>
            <p class="small-fonts">Desde 59.99/Noche<a href="#" class="text-info float-end">Ver detalles</a></p>
          </div>
        </div>
      </div>












      <!-- room section ends -->
    </div>


    <!-- container ends -->
  </div>
</div>

<div class="container">
  <div class="row mt-5 text-center">
    <h6 class="text-orangeTheme">Ordena y disfruta</h6>
    <h2>Servicios</h2>
    <p class="">Estos son algunos de los servicios disponibles para consumir y disfrutar dentro del hotel y mejorar tu experiencia</p>
  </div>

  <div class="row">
    <div class="col-md-4 my-5 text-center">
          <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
          <h2>Cenas</h2>
          <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-md-4 my-5  text-center">
      <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
      <h2 class="">Cenas</h2>
      <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-md-4 my-5  text-center">
      <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
      <h2 class="">Cenas</h2>
      <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-md-4 my-5  text-center">
      <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
      <h2 class="">Cenas</h2>
      <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-md-4 my-5  text-center">
      <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
      <h2 class="">Cenas</h2>
      <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>

    <div class="col-md-4 my-5  text-center">
      <img src="../../../../assets/dinner.svg" alt="" class="img-fluid">
      <h2 class="">Cenas</h2>
      <p class="small-fonts">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
    </div>
  </div>
</div>



<div class="second-bg-color">
  <div class="container pb-5">
    <div class="row text-center">
      <h6 class="text-orangeTheme mt-5">Testimonios</h6>
      <h2 class="mb-0">¿Que dicen nuestros clientes?</h2>
      <img src="../../../../assets/five-stars.svg" class="mt-0" width="150" height="150">
    </div>

    <div class="row">
        <section>
          <div class="row text-center">
            <div class="col-md-12">
              <!-- Carousel wrapper -->
              <div id="carouselBasicExample" class="carousel slide carousel-dark" data-mdb-ride="carousel">
                <!-- Inner -->
                <div class="carousel-inner">
                  <!-- Single item -->
                  <div class="carousel-item active">
                    <p class="lead font-italic mx-4 mx-md-5">
                      "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error amet
                      numquam iure provident voluptate esse quasi, voluptas nostrum quisquam!"
                    </p>
                    <div class="mt-5 mb-4">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(2).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                        height="100" />
                    </div>
                    <p class="text-muted mb-0">- Anna Morian</p>
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item">
                    <p class="lead font-italic mx-4 mx-md-5">
                      "Neque cupiditate assumenda in maiores repudiandae mollitia adipisci maiores
                      repudiandae mollitia consectetur adipisicing architecto elit sed adipiscing
                      elit."
                    </p>
                    <div class="mt-5 mb-4">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(31).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                        height="100" />
                    </div>
                    <p class="text-muted mb-0">- Teresa May</p>
                  </div>

                  <!-- Single item -->
                  <div class="carousel-item">
                    <p class="lead font-italic mx-4 mx-md-5">
                      "Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
                      dolore eu fugiat nulla pariatur est laborum neque cupiditate assumenda in
                      maiores."
                    </p>
                    <div class="mt-5 mb-4">
                      <img src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(10).webp"
                        class="rounded-circle img-fluid shadow-1-strong" alt="smaple image" width="100"
                        height="100" />
                    </div>
                    <p class="text-muted mb-0">- Kate Allise</p>
                  </div>
                </div>
                <!-- Inner -->

                <!-- Controls -->
                <button class="carousel-control-prev" type="button" data-mdb-target="#carouselBasicExample"
                  data-mdb-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-mdb-target="#carouselBasicExample"
                  data-mdb-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
              <!-- Carousel wrapper -->
            </div>
          </div>
        </section>
    </div>
  </div>
</div>

<div class="footer-bg">
  <div class="container ">
    <div class="row">
      <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15129.117478745055!2d-69.8954654!3d18.5614396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sdo!4v1688953486914!5m2!1sen!2sdo" width="844" height="255" style="border:0;" allowfullscreen="true" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>
</div>




<app-footer></app-footer>


