<div class="px-3">
  <div class="">
    <h1 class="fs-5" id="">Cambiar contraseña</h1>
  </div>
  <form [formGroup]="changePasswordForm" class="">
    <div class="">
      <div class="mb-5 w-75">
        <label for="txtCurrPassword">Contraseña actual</label>
        <input
          type="password"
          class="form-control form-control-sm box-shadow w-60"
          id="txtCurrPassword"
          formControlName="actualPassword"
        />
        <span
          *ngIf="isValidField('actualPassword')"
          class="form-text text-danger"
        >
          <!-- Debe de ser de 3 letras -->
          {{ getFieldError("actualPassword") }}
        </span>
      </div>
      <div class="mb-5 w-75">
        <label for="txtNewPassword">Nueva constraseña</label>
        <input
          type="password"
          class="form-control form-control-sm box-shadow w-60"
          id="txtNewPassword"
          formControlName="newPassword"
        />
        <span *ngIf="isValidField('newPassword')" class="form-text text-danger">
          <!-- Debe de ser de 3 letras -->
          {{ getFieldError("newPassword") }}
        </span>
      </div>
      <div class="mb-5 w-75">
        <label for="txtRepeatNewPassword">Repetir nueva contraseña</label>
        <input
          type="password"
          class="form-control form-control-sm box-shadow w-40"
          id="txtRepeatNewPassword"
          formControlName="newPassword2"
        />
        <span
          *ngIf="isValidField('newPassword2')"
          class="form-text text-danger"
        >
          <!-- Debe de ser de 3 letras -->
          {{ getFieldError("newPassword2") }}
        </span>
      </div>
    </div>
    <div class="">
      <button type="button" class="btn btn-primary">Guardar cambios</button>
    </div>
  </form>
</div>
        
